<!DOCTYPE html>
<html>

<head>
    <title>Vue 3 Basics</title>
    <style>
        /* css box style & size */
        .box {
            background-color: dimgray;
            height: 200px;
            width: 200px;
        }

        /* hides elements until Vue app is loaded, and then removed once loaded to display contents */
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- code inside double moustache parsed as javascript -->
        {{ greeting }}
        <!-- two way data binding -->
        <!-- can use @keyup.[keycode] for other keys -->
        <!-- using ".enter" as an event modifier -->
        <input @keyup.enter="greet(greeting + '!!!!!')" v-model="greeting" />

        <hr />
        <div id="box isVisibleToggle">
            <!-- box toggle -->
            <!-- @ symbol can replace v-on: eg: "@click" -->
            <!-- using event modifiers include "v-on:click.right" or "@click.right" will only trigger on right clicks only  -->
            <!-- modifiers can also be chained on events like "@click.prevent" or "@click.stop"-->
            <button v-on:click="toggleBox">Toggle Box</button>
        </div>
        <div v-if="isVisible" class="box"></div>

    </div>
    <!-- "vue@next" ensures use of latest stable version -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        // instantiate Vue
        let app = Vue.createApp({
            // data is a function which returns an object
            data: function () {
                return {
                    // function must return object, greeting is the object. Vue looks inside data object for a variable named greeting.
                    greeting: 'Hello Vue 3!',
                    isVisible: false,
                }
            },
            // using v-on to call a function (toggleBox) defined in methods as opposed to hard coded.. inherits from methods ?
            methods: {
                // using method shorthand alternative syntax "togglebox: function()"
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                // passing in greeting
                greet(greeting) {
                    console.log(greeting)
                }
            }
        })
        // mount app
        app.mount('#app')
    </script>
</body>

</html>